<div class="ficha">
  <div class="tabs">
    <button [class.active]="activeTab === 'instalacion'" (click)="setTab('instalacion')">Instalación</button>
    <button [class.active]="activeTab === 'consumibles'" (click)="setTab('consumibles')">Consumibles</button>
    <button [class.active]="activeTab === 'driver'" (click)="setTab('driver')">Driver</button>
  </div>

  <div class="content" *ngIf="activeTab === 'instalacion'">
    <div class="row"><span>Nombre</span><span>{{ impresora.nombre }}</span></div>
    <div class="row"><span>Marca</span><span>{{ impresora.marca }}</span></div>
    <div class="row"><span>Modelo</span><span>{{ impresora.modelo }}</span></div>
    <div class="row"><span>IP</span><span>{{ impresora.ip }}</span></div>
    <div class="row"><span>Sede</span><span>{{ impresora.sede?.nombre }}</span></div>
    <div class="row"><span>Dependencia</span><span>{{ impresora.dependencia?.nombre }}</span></div>
    <div class="row"><span>Subdependencia</span><span>{{ impresora.subdependencia?.nombre }}</span></div>
    <div class="row"><span>Estado</span><span>{{ impresora.estado }}</span></div>
  </div>

  <div class="content" *ngIf="activeTab === 'consumibles'">
    <ng-container *ngIf="hasConsumibles(); else noConsumibles">
      <div class="row" *ngIf="impresora.modeloTonerNegro">
        <span>Tóner Negro</span><span class="modelo-tag">{{ impresora.modeloTonerNegro }}</span>
      </div>
      <div class="row" *ngIf="impresora.modeloTonerC">
        <span>Tóner Cyan</span><span class="modelo-tag">{{ impresora.modeloTonerC }}</span>
      </div>
      <div class="row" *ngIf="impresora.modeloTonerM">
        <span>Tóner Magenta</span><span class="modelo-tag">{{ impresora.modeloTonerM }}</span>
      </div>
      <div class="row" *ngIf="impresora.modeloTonerY">
        <span>Tóner Amarillo</span><span class="modelo-tag">{{ impresora.modeloTonerY }}</span>
      </div>
      <div class="row" *ngIf="impresora.modeloCartucho">
        <span>Cartucho</span><span class="modelo-tag">{{ impresora.modeloCartucho }}</span>
      </div>
      <div class="row" *ngIf="impresora.modeloDrum">
        <span>Drum</span><span class="modelo-tag">{{ impresora.modeloDrum }}</span>
      </div>
      <div class="row" *ngIf="impresora.modeloFusor">
        <span>Fusor</span><span class="modelo-tag">{{ impresora.modeloFusor }}</span>
      </div>
    </ng-container>
    <ng-template #noConsumibles>
      <p class="no-consumibles">Sin modelos de consumibles registrados.</p>
    </ng-template>
  </div>

  <div class="content" *ngIf="activeTab === 'driver'">
    <ng-container *ngIf="impresora.driverNombre; else noDriver">
      <div class="row"><span>Nombre</span><span>{{ impresora.driverNombre }}</span></div>
      <div class="row"><span>Versión</span><span>{{ impresora.driverVersion }}</span></div>
      <div class="row"><span>S.O.</span><span>{{ impresora.driverSo }}</span></div>
      <button class="download-btn" (click)="downloadDriver()">Descargar driver</button>
    </ng-container>
    <ng-template #noDriver>
      <p class="no-driver">No hay driver cargado.</p>
    </ng-template>

    <ng-container *ngIf="isAdmin">
      <h4>Subir nuevo driver</h4>
      <div class="upload-fields">
        <div class="upload-field">
          <label>Versión</label>
          <input type="text" [(ngModel)]="driverVersionInput" placeholder="ej: 1.2.3" />
        </div>
        <div class="upload-field">
          <label>Sistema operativo</label>
          <input type="text" [(ngModel)]="driverSoInput" placeholder="ej: Windows 10 / 11" />
        </div>
        <input type="file" (change)="onFileSelected($event)" />
      </div>
    </ng-container>
  </div>
</div>
